@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

html {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::selection {
    color: rgba(37, 99, 235, 1);
    background:rgba(219, 234, 254, 1);
}

.katex {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}


.inline_code {
    @apply inline-block px-3 py-1 m-0 text-lg font-bold text-blue-600 bg-blue-200 rounded-md #{!important};

    &:before {
        content: "" !important;
    }

    &:after {
        content: "" !important;
    }
}