code[class*="language-"],
pre[class*="language-"] {
    position: relative;
    color: #ccc;
    background: none;
    font-family: Operator Mono SSm A, Operator Mono SSm B, Source Code Pro, Menlo, Consolas, Monaco, monospace;
    font-size: 1.05rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre:before {
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    position: absolute;
    top: .25rem;
    right: .5rem;
    padding: 0;
}

pre[class*="js"]:before {
    content: "JS";
    color: #ff7a18 !important;
}

pre[class*="css"]:before {
    content: "CSS";
    color: #ff7a18 !important;
}

pre[class*="scss"]:before {
    content: "SCSS";
    color: #ff7a18 !important;
}

pre[class*="python"]:before {
    content: "Python";
    color: #ff7a18 !important;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 2rem;
    margin: .5em 0;
    border-radius: 5px;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #2f3a46;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}