nav {
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: saturate(250%) blur(15px);

    &.scrolled {
        @apply bg-white bg-opacity-20 shadow-sm
    }
}

.active {
    color: #CD5858 !important;

    &:after {
        opacity: 1;
        transform: translateY(0);
    }

    &.borderFade::after {
        opacity: 1;
        transform: translateY(0);
    }

}



.btn--primary {
    @apply py-2 px-4 w-full bg-red-500 text-white font-semibold rounded-lg shadow-md;

    &:hover {
        @apply shadow-lg bg-red-600
    }

    &:focus {
        @apply outline-none
    }
}

.borderFade {
    position: relative;
}

.borderFade::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0px;
    opacity: 0;
    transform: translateY(3px);
    background: #CD5858;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.borderFade:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.project-image {
    background-image: url(../public/images/projects/ternary-thumbnail.svg);
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
    background-color: #e8e8e8;
    margin-top: -20px;
    border-radius: 10px;
    will-change: transform;
    transition: transform .3s cubic-bezier(.52, .28, .47, 1.15);

}

.project-holder:hover {
    .project-image {
        transform: translateY(-5px)
    }
}


.hoverfill {
    transition: 0.25s ease-out;

    &:hover {
        fill: #1b1b1b;
        transform: scale(1.2)
    }
}

.hoverstroke {
    transition: 0.25s ease-out;

    &:hover {
        stroke: #1b1b1b;
        transform: scale(1.2)
    }

}

// Cube Spinner

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(177, 177, 177);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}